{% if page.author_profile or layout.author_profile or page.sidebar %}
<!-- 왼쪽 사이드바 패딩 줌 -->
<div class="sidebar sticky" style="padding-right:50px">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
  {% for s in page.sidebar %}
  {% if s.image %}
  <img src="{{ s.image | relative_url }}" alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
  {% endif %}
  {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
  {% if s.text %}{{ s.text | markdownify }}{% endif %}
  {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
  {% endfor %}
  {% if page.sidebar.nav %}
  {% include nav_list nav=page.sidebar.nav %}
  {% endif %}
  {% endif %}

  <!-- 카테고리 파트 -->
  {% if page.sidebar_main %}
  <!--전체 글 수를 세기 위한 연산. sum 변수에 전체 글 수 저장-->
  {% assign sum = site.posts | size %}
  <nav class="nav__list" style="margin-top:1.5rem;">
    <input id="ac-toc" name="accordion-toc" type="checkbox" />
    <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label }}</label>
    <ul class="nav__items" id="category_tag_menu">
      <!--전체 글 수-->
      <li>
        📂 <b><span style="font-size:0.8rem;">전체 글 수 <span
              style="font-size:1.2rem; color : rgb(15, 123, 108);">{{sum}}</span> 개</span></b>
      </li>

      <!-- 카테고리 영역 시작 -->
      <li>
        <!--여기가 카테고리 대분류 -->

        <!-- 공부 카테고리 -->
        <span class="nav__sub-title">개발공부</span>
        <ul>
          {% for category in site.categories %}
          {% if category[0] == "TIL" %}
          <li><a href="/categories/TIL" class="nav__sub-title_sub">TIL ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "CS" %}
          <li><a href="/categories/CS" class="nav__sub-title_sub">CS ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "DesignPattern" %}
          <li><a href="/categories/DesignPattern" class="nav__sub-title_sub">디자인패턴 ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}
        </ul>


        <!-- 기술 카테고리 -->
        <span class="nav__sub-title">기술</span>
        <ul>
          {% for category in site.categories %}
          {% if category[0] == "Java" %}
          <li><a href="/categories/Java" class="nav__sub-title_sub">Java ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "Spring" %}
          <li><a href="/categories/Spring" class="nav__sub-title_sub">Spring ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "DevOps" %}
          <li><a href="/categories/DevOps" class="nav__sub-title_sub">DevOps ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          <li>
            <a href="https://github.com/hanjo8813/Dev_Memo" class="nav__sub-title_sub" target="_blank">
              Dev Memo (Repo)
            </a>
          </li>

        </ul>


        <!-- 코딩테스트 카테고리 -->
        <span class="nav__sub-title">코딩테스트</span>
        <ul>
          {% for category in site.categories %}
          {% if category[0] == "Programmers" %}
          <li><a href="/categories/programmers" class="nav__sub-title_sub">프로그래머스 ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "BOJ" %}
          <li><a href="/categories/BOJ" class="nav__sub-title_sub">BOJ ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}
        </ul>

        <!-- 기록 카테고리 -->
        <span class="nav__sub-title">기록</span>
        <!--ul 태그로 같은 카테고리들 모아둔 페이지들 나열 여기가 소분류-->
        <ul>
          <!-- 카테고리 글들을 모아둔 페이지인 /categories/(카테고리 대분류) 주소의 글로 링크 연결-->
          <!--category[1].size 로 해당 카테고리를 가진 글의 개수 표시-->
          {% for category in site.categories %}
          {% if category[0] == "project" %}
          <li><a href="/categories/project" class="nav__sub-title_sub">프로젝트 ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}

          {% for category in site.categories %}
          {% if category[0] == "review" %}
          <li><a href="/categories/review" class="nav__sub-title_sub">회고 ({{category[1].size}})</a></li>
          {% endif %}
          {% endfor %}
        </ul>

      </li>
    </ul>
  </nav>
  {% endif %}

</div>
{% endif %}