---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% elsif page.header.video.id and page.header.video.provider %}
  {% include page__hero_video.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <!-- 여기는 카테고리클릭시 나오는 post 아카이브 제목 -->
      <h1 id="page-title" class="page__title" style="padding:0.6rem 0 0.6rem 0;">
        {{ page.title }}
      </h1>
      <hr id="archive-hr">
    {% endunless %}
    {{ content }}
  </div>
</div>