---
layout: archive
---

{{ content }}

<script>
  document.getElementById("archive-hr").style.display = "none";
  document.getElementById("page-title").style.display = "none";
</script>

<!-- 홈에있는 최근 게시물-->
<h3 class="archive__subtitle" style="font-size:1.6rem; padding:0.6rem 0 0.6rem 0; ">
  Recent Posts 🚀
  <!-- {{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }} -->
</h3>

<hr>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
